*{
    margin: 0px;
    padding: 0px;
    
}
body {
    background: #f1f2f3;
} 


input[type='submit']{
        background:  #aa75be;
        border: 0;
        color: #fff;
        padding: 10px 15px;
        cursor: pointer;
      
        
}

/*CARRUSEL*/

#conteItemCarrusel{
    height: 200px;
    width: 100%;
    overflow: hidden;
    
}

.containerslider{
    height: 200px;
    position: relative;
    
}
.tarjetacarrusel{
    height: 100%;
}
.flechascarrusel{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjeta1{
    background-color: #aa75be;

}
#tarjeta2{
    background-color: rgb(151, 151, 240);

}
#tarjeta3{
    background-color: rgb(250, 99, 250);

}
a{
    text-decoration: none;
}
i{
    color: white;
}
#contepuntos{
    display: flex;
    justify-content:center;
}
#contepuntos a{
    font-size: 1.5em;
}
#cursos1{
    font-size: medium;
    color: rgb(87, 203, 238);
    margin: 8px 0px 10px 40px;
}
/* ==============slider home========================= */
.slider-home{
    width: 120% !important;
    height: 580px;
    background: #aa75be;
}

/*galeriacurso*/
h1{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.cursogaleria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 rgba(0, 0, 0, 19);
    float: left;
    width: 300px;
}
div.cursogaleria img{
    width: 100%;
    height: auto;  
}
div.cursogaleria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-2deg);
}

div.piecurso{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(243, 240, 240);
    padding: 10px;
}





.footer_father{
    justify-content: center;
    text-align: center;
}

#pie #centro-pie{
    text-align: center;
    width: 1200px;
    height: auto; overflow: hidden;
    padding: 50px;
    margin: 50px;
    

}
/* ========================caerds============ */
.card{
    margin: 40px;
}
.div-cards {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
.card-img, .card-img-top {
    padding-top: 15px;
}